/* MEDIA QUERIE */

/* Desktop S */
@media screen and (max-width:1100px) {
    .row-main .col-main {
        width: calc(100%  / 4 - 1em );
    } 
}

/* Tablet */

@media screen and (max-width:700px) {
    .row-main .col-main {
        width: calc(100%  / 2 - 1em );
    } 
}

/* Phone */

@media screen and (max-width:600px) {
    .sx-toolbar {
        width: 50px;
        background-color: black;
        height: calc(100vh - 100px);
    }
    .main {
        width:calc(100vw - 50px);
        
    }
    .main .menu-main {
        width: calc(100% - 50px);
        
    }
}