/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font-family: 'Montserrat', sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    color: var(--f-col2);
}
ul {
    list-style-type: none;
}
/* Custom Prop____ */
:root {
    /* Colors */
    --col-1:#000000;
    --col-2:#141922;
    --col-3:#282828;
    --col-4-t:#080b129a;
    /* f-color */
    --f-col:#080B12;
    --f-col2:#D2D2D2;
    --f-col3:#5A5A5A;
    --f-col-w:white;
    /* Space */
    --s0_5:.5rem;
    --s1_5:1.5rem;
    --s1: 1em;
    --s2: 2em;
    --s3: 3em;
    /* Font size */
    --f0_2: 8px;
    --f0_5: 12px;
    --f1: 1rem;
    --f1_1:1.5rem;
    --f2: 2rem;
    --f2_1: 2.5rem;
    --f3: 3rem;

    --f13: 0.8rem;
}

/* Utility class */
/* Color */
.c1 {
    color: var(--f-col2);
}
.c2 {
    color: var(--f-col3);
}
.cw {
    color: var(--f-col-w);
}
/* Font */
.f-xsmall {
    font-size: var(--f0_2);
}
.f-small {
    font-size: var(--f0_5);
}
.f-med {
    font-size: var(--f1_1)
}
.f13 {
    font-size:.9rem;
} 
.f16 {
    font-size: var(--f1);
}
/* Margin */
.mr-xs {
    margin-right: var(--s0_5) ;
}
.mr-s {
    margin-right: var(--s1_5);
}
.ml-xs {
    margin-left: var(--s0_5) ;
}
.ml-s {
    margin-left: var(--s1_5);
}
.mb1 {
    margin-bottom: .5em;
}
.mb2 {
    margin-bottom: 1em;
}
.mt1 {
    margin-top: .5em;
}
.mt2 {
    margin-top: 1em;
}

/* ___Tipography___ */
.tu {
    text-transform: uppercase;
}
/* TOP */
.top {
    display: flex;
}
/* Sx Toolbar */
.sx-toolbar {
    width: 200px;
    background-color: var(--col-1);
    height: calc(100vh - 80px);
    position: relative;
    z-index: 20;
}
.sx-toolbar .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
}
.sx-toolbar .small-logo {
    display: none;
}
.sx-toolbar .menu-toolbar {
    width: 100%;
    margin-top: 6.2em;
    font-weight: 700;
}
.menu-toolbar .nav {
    width: 100%;
    
    
}
.menu-toolbar .list {
    margin-bottom: var(--s0_5);
    border-left: 2px solid #acff2f00;
    padding-left: 1.5em;
}
.list:first-child {
    border-left: 2px solid #acff2f;
}

.nav .list img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.nav span {
    vertical-align: middle;
    line-height: 40px;
}
/* Main */
.main {
    width:calc(100vw - 200px);
    height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color: var(--col-2);
    padding-top: 7em;
}
.main .category {
    width:1000px;
    max-width: 100%;
    margin: 0 auto;
    font-weight: 700;
    margin-bottom: var(--s2);
}
.category ul {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1.5rem 0rem;
}
.main h2 {
    color: white;
}
.main p {
    color: var(--f-col2);
}
/* Menu main */
.main .menu-main {
    width: calc(100% - 200px);
    height: 100px;
    background-color:var(--col-4-t);
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-main > button {
    background-color: inherit;
    border: 1px solid var(--f-col2);
    padding:var(--s1) var(--s3);
    border-radius: 2em;
    margin-right: var(--s2);
    
}
.menu-main > button:hover {
    transform: scale(1.1);
}
.menu-main button a {
    text-transform: uppercase;
    font-size: var(--f1)
}

.main .row-main {
    max-width: 1600px;
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    padding: 0em 1.5em;
    margin-bottom: var(--s3);
}
.row-main .col-main {
    text-align: center;
    width: calc(100%  / 6 - 1em );
}  
.col-main .circle {
    border-radius: 50%;
    object-fit: cover;
}

/* BOTTOM */

.bottom {
    width: 100%;
    height: 80px;
    background-color: var(--col-3);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 50;
}

/* Player */

.player {
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
/* SX */
.sx {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sx .img-player {
    width: 20%;
}



.box-player {
    width: 30%;
    height: 20px;
    background-color: antiquewhite;
    margin: 0 auto;
} 
/* MED */
.med {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
/* Action Player */
.med .action-player {
    width: 200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Time */
.med .time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.med i {
    color: var(--f-col2);
}
.time .line-time {
    width: 80%;
    height: 3px;
    background-color:var(--f-col3);
    position: relative;
    border-radius: 1px;
    
}
.line-time::after {
    content: '';
    background-color:var(--f-col2);
    width: 30%;
    height: 3px;
    position: absolute;
    top:0;
}

.time .sec {
    color:var(--f-col2);
    font-size: var(--f0_5)
}


/* DX */

.dx {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dx i {
    color: var(--f-col2);
}
.line {
    width: 50%;
    height: 3px;
    background-color: var(--f-col3);
    position: relative;
    border-radius: 1px;
    
}
.line::after {
    content: '';
    background-color:var(--f-col2);
    
    width: 30%;
    height: 3px;
    position: absolute;
    top:0;
}




/* MEDIA QUERIE */

/* Desktop S */
@media screen and (max-width:1100px) {
    .row-main .col-main {
        width: calc(100%  / 4 - 1em );
    } 
}

/* Tablet */

@media screen and (max-width:700px) {
    .row-main .col-main {
        width: calc(100%  / 2 - 1em );
    } 
}

/* Phone */

@media screen and (max-width:600px) {
    /* Sx Toolbar */
    .sx-toolbar {
        width: 50px;
        background-color: black;
        height: calc(100vh - 80px);
    }
    .sx-toolbar .logo {
        transform: scale(1.2);
    }
    .sx-toolbar .big-logo {
        display: none;
        
    }
    .sx-toolbar .small-logo {
        display: block;
    }
    .main {
        width:calc(100vw - 50px);
        
    }
    .main .menu-main {
        width: calc(100% - 50px);
        
    }
    .title-player {
        
        transform: scale(0.9);
    }
   
}